<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter App</title>
    <!-- TODO: 1. INSERT APP TITLE-->
    <!-- TODO: 3. INSERT STYLE SHEET-->
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>

  1. Inserting a Main Class
    oh the main is the main body of a page
    ......
    <main></main>

  2. Inserting a Heading
    use the h1 tag inside main body to add a heading, feel free to change the title
    "<h1> ,.,,,,</h1>"
  <body>
    <!-- 1. INSERT MAIN CLASS-->
     <!-- 2. INSERT HEADING-->
      <!-- increment button-->
       <!-- decrement-->
    <main class="container">
      <h1>Counter App</h1>
      <p id="count">0</p>
      <div class="buttons">
        <button id="decrement">-</button>
        <button id="reset">Reset</button>
        <button id="increment">+</button>
      </div>
    </main>

    <script src="script.js"></script>
  </body>
</html>
