/* README.md
margin: distance between element and other element's borders
padding: distance between element and its own border
width: width of the element */


/* DON'T TOUCH ANYTHING IN THE BODY */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8fafc;
  font-family: Arial, sans-serif;
}
/* -------------------------------- */

.container {
  background: white;
  padding: 2rem;
  text-align: center;
  width: 250px;
}

#count {
  font-size: 3rem;
  margin: 1rem 0;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
}

/* if have time */
#increment {
  background-color:green
}

button:hover {
  background: #e2e8f0;
}
